<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Garments</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Buyer</display-name>
    <servlet-name>Buyer</servlet-name>
    <servlet-class>Buyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buyer</servlet-name>
    <url-pattern>/Buyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order</display-name>
    <servlet-name>Order</servlet-name>
    <servlet-class>Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Production</display-name>
    <servlet-name>Production</servlet-name>
    <servlet-class>Production</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Production</servlet-name>
    <url-pattern>/Production</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Shipment</display-name>
    <servlet-name>Shipment</servlet-name>
    <servlet-class>Shipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shipment</servlet-name>
    <url-pattern>/Shipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderList</display-name>
    <servlet-name>OrderList</servlet-name>
    <servlet-class>OrderList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderList</servlet-name>
    <url-pattern>/OrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerList</display-name>
    <servlet-name>BuyerList</servlet-name>
    <servlet-class>BuyerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerList</servlet-name>
    <url-pattern>/BuyerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeList</display-name>
    <servlet-name>EmployeeList</servlet-name>
    <servlet-class>EmployeeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeList</servlet-name>
    <url-pattern>/EmployeeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductionList</display-name>
    <servlet-name>ProductionList</servlet-name>
    <servlet-class>ProductionList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductionList</servlet-name>
    <url-pattern>/ProductionList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShipmentList</display-name>
    <servlet-name>ShipmentList</servlet-name>
    <servlet-class>ShipmentList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShipmentList</servlet-name>
    <url-pattern>/ShipmentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSignUp</display-name>
    <servlet-name>UserSignUp</servlet-name>
    <servlet-class>UserSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignUp</servlet-name>
    <url-pattern>/UserSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSignUp</display-name>
    <servlet-name>AdminSignUp</servlet-name>
    <servlet-class>AdminSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSignUp</servlet-name>
    <url-pattern>/AdminSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillList</display-name>
    <servlet-name>BillList</servlet-name>
    <servlet-class>BillList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillList</servlet-name>
    <url-pattern>/BillList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleivery</display-name>
    <servlet-name>Deleivery</servlet-name>
    <servlet-class>Deleivery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleivery</servlet-name>
    <url-pattern>/Deleivery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cloths</display-name>
    <servlet-name>Cloths</servlet-name>
    <servlet-class>Cloths</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cloths</servlet-name>
    <url-pattern>/Cloths</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dress</display-name>
    <servlet-name>Dress</servlet-name>
    <servlet-class>Dress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dress</servlet-name>
    <url-pattern>/Dress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Address</display-name>
    <servlet-name>Address</servlet-name>
    <servlet-class>Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Address</servlet-name>
    <url-pattern>/Address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quantity</display-name>
    <servlet-name>Quantity</servlet-name>
    <servlet-class>Quantity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quantity</servlet-name>
    <url-pattern>/Quantity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bill</display-name>
    <servlet-name>Bill</servlet-name>
    <servlet-class>Bill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bill</servlet-name>
    <url-pattern>/Bill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOrder</display-name>
    <servlet-name>UserOrder</servlet-name>
    <servlet-class>UserOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrder</servlet-name>
    <url-pattern>/UserOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pattern</display-name>
    <servlet-name>Pattern</servlet-name>
    <servlet-class>Pattern</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pattern</servlet-name>
    <url-pattern>/Pattern</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample1</display-name>
    <servlet-name>Sample1</servlet-name>
    <servlet-class>Sample1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample1</servlet-name>
    <url-pattern>/Sample1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample2</display-name>
    <servlet-name>Sample2</servlet-name>
    <servlet-class>Sample2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample2</servlet-name>
    <url-pattern>/Sample2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample</display-name>
    <servlet-name>Sample</servlet-name>
    <servlet-class>Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
</web-app>